<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Ruthman Medical Group</title>
<link rel="stylesheet" media="screen" href="res/style.css"/>
<script src='http://127.0.0.1:9001/js/socket.js'></script>
<meta name="viewport" content="width=device-width, initiaL-scale=1">
<!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
<meta name="description" content="">
</head>

<body>
<div id="layout">
<header>
<h1>Ruthman Medical Group</h1>
<a href="tel:+19546592102">954 659 2102</a>
<p>
A boutique Family Medical Practice in Weston where your family doctor will see you when you need to be seen, and answer your phone calls in a timely fashion.
</p>
<nav>
<ul>
    <li><a href="#">Physician</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Patient Portal</a></li>
    <li><a href="#">Contact Us</a></li>
</ul>
</nav>
</header>
<main>
<section>
<svg id="wp" class="h2svg" xmlns="http://www.w3.org/2000/svg" width="222.252" height="222.252" viewBox="0 0 222.252 222.252"><g id="Original" fill="none" stroke="#8DC63F" stroke-width="3" stroke-miterlimit="10"><path d="M189.534 116.428c11.459 2.43 19.973 5.473 19.973 5.473s-8.836 35.111-30.025 49.387c-21.188 14.276-56.054 10.354-56.054 10.354M33.956 116.462c-11.378 2.424-19.813 5.438-19.813 5.438s8.836 35.111 30.024 49.387c21.188 14.276 56.054 10.354 56.054 10.354M89.626 75.859c10.011-14.64 22.488-26.089 22.488-26.089s12.755 11.454 21.606 26.875"/><path d="M164.2 98.104c14.365-1.589 26.53-.853 26.53-.853s1.31 36.184-15.054 55.804-52.439 28.581-52.439 28.581M60.219 98.21c-14.768-1.728-27.463-.959-27.463-.959s-1.31 36.184 15.054 55.804 52.439 28.581 52.439 28.581"/><path d="M112.052 95.894c14.259-16.742 37.593-29.43 37.593-29.43s20.285 29.991 16.805 55.302c-3.48 25.311-43.143 59.688-43.143 59.688"/><path d="M112.956 181.574s15.621-43.26 9.477-67.906c-6.145-24.647-47.627-47.204-47.627-47.204S65.036 80.909 60.22 98.21c-2.123 7.628-3.283 15.811-2.219 23.556 3.48 25.311 42.143 59.688 42.143 59.688"/><circle cx="111.126" cy="111.126" r="109.626"/></g></svg><!--{{{}}}-->
<h2>
Prevention and Wellness
</h2>
<p>
Our fammily practice includes the entire spectrum of primary care:
</p>
<ul>
<li>Newborns</li>
<li>Pediatrics</li>
<li>Gynecology</li>
<li>Internal Medicine</li>
<li>Urgent Care</li>
</ul>
</section>
<section>
<div class="h2svg">
<svg id="tm" class="h2svg" xmlns="http://www.w3.org/2000/svg" width="222.25" height="222.25" viewBox="0 0 222.252 222.252"><g clip-path="url(#mask)"><g id="eiffel"><path fill="#8DC63F" d="M158.54 200.631a.861.861 0 0 1-.643-.286c-.127-.14-12.773-14.398-24.207-43.976-6.705-17.345-11.699-36.502-14.846-56.945-3.89-25.268-4.949-52.583-3.154-81.197h-9.412c1.796 28.614.736 55.93-3.154 81.197-3.146 20.443-8.141 39.603-14.846 56.945-11.433 29.575-24.08 43.836-24.206 43.976a.865.865 0 1 1-1.286-1.157c.125-.139 12.603-14.229 23.92-43.547 6.648-17.225 11.602-36.254 14.722-56.562 3.901-25.393 4.934-52.867 3.066-81.662l-.06-.92h13.099l-.061.92c-1.869 28.825-.832 56.327 3.078 81.742 3.129 20.32 8.09 39.357 14.75 56.586 11.32 29.283 23.756 43.305 23.881 43.443a.868.868 0 0 1-.065 1.221.841.841 0 0 1-.576.222z"/><path fill="#8DC63F" d="M109.954 9.149h1.729v115.176h-1.729z"/><path fill="#8DC63F" d="M120.054 26.439H101.9V19.09h18.154v7.349zm-16.425-1.729h14.696v-3.89h-14.696v3.89zM106.392 28.144h9.618v1.729h-9.618z"/><path fill="#8DC63F" d="M111.366 28.869l-.331.278c.047.056 2.101 2.485 5.575 6.179-.004-.1-.012-.196-.012-.296 0-.113.01-.223.012-.334-3.272-3.494-5.198-5.773-5.244-5.827z"/><path fill="#8DC63F" d="M105.895 43.873c.015.184.025.369.034.555 3.826-3.5 7.337-6.938 10.276-9.923.04-.255.086-.507.138-.757a277.191 277.191 0 0 1-10.448 10.125z"/><path fill="#8DC63F" d="M116.41 39.074a286.808 286.808 0 0 1-10.25-10.066h-.601a286.421 286.421 0 0 0 10.809 10.617c.01-.185.02-.369.042-.551z"/><path fill="#8DC63F" d="M111.2 29.004v-.213a290.717 290.717 0 0 1-5.794 5.665c.038.163.073.328.106.495a292.245 292.245 0 0 0 6.084-5.947h-.396z"/><path fill="#8DC63F" d="M116.058 43.461a281.922 281.922 0 0 1-10.584-10.311c-.024.179-.047.358-.083.533a280.272 280.272 0 0 0 10.643 10.341c.004-.188.011-.377.024-.563zM116.076 48.254a266.311 266.311 0 0 1-9.869-9.388c.01.208.016.417.018.628a264.444 264.444 0 0 0 9.816 9.309c.007-.184.021-.367.035-.549z"/><path fill="#8DC63F" d="M116.106 28.391a291.64 291.64 0 0 1-10.035 9.988c.025.176.047.354.065.531a291.238 291.238 0 0 0 10.035-9.965 19.512 19.512 0 0 1-.065-.554zM105.874 49.139a264.426 264.426 0 0 0 10.438-9.89 11.053 11.053 0 0 1-.029-.579 265.92 265.92 0 0 1-10.39 9.873c-.004.2-.009.398-.019.596zM116.17 43.344a253.159 253.159 0 0 1-10.518 9.822c.023.173.043.347.062.521a253.285 253.285 0 0 0 10.456-9.736c-.002-.102-.007-.202-.007-.305.001-.101.005-.201.007-.302z"/><path fill="#8DC63F" d="M116.104 53.126a265.832 265.832 0 0 1-9.888-9.402c-.006.194-.016.389-.029.581a264.647 264.647 0 0 0 9.999 9.476 12.87 12.87 0 0 1-.082-.655zM116.59 57.636a266.767 266.767 0 0 1-10.68-10.144c-.034.167-.073.332-.113.496a264.378 264.378 0 0 0 10.822 10.253 20.085 20.085 0 0 1-.029-.605z"/><path fill="#8DC63F" d="M105.361 58.963c3.953-3.382 7.718-6.873 11.055-10.113a14.415 14.415 0 0 1-.132-.475c-3.305 3.214-7.035 6.682-10.958 10.049.014.18.027.359.035.539zM105.377 63.354c0 .112-.004.223-.007.334 3.886-3.258 7.617-6.66 10.98-9.877a20.322 20.322 0 0 1-.099-.503c-3.329 3.19-7.026 6.57-10.881 9.814.004.077.007.154.007.232zM116.595 57.848a271.934 271.934 0 0 1-11.597 11.13c.001.069.004.14.004.21 0 .125-.005.25-.008.375 4.345-3.903 8.34-7.795 11.637-11.135a15.971 15.971 0 0 1-.036-.58z"/><path fill="#8DC63F" d="M116.708 62.773c-4.027-3.52-7.818-7.104-11.112-10.355-.028.173-.061.344-.095.514 3.312 3.264 7.115 6.852 11.15 10.367.016-.176.034-.352.057-.526zM116.603 68.49a253.366 253.366 0 0 1-11.009-10.264 14.17 14.17 0 0 1-.06.549c3.304 3.253 7.092 6.826 11.109 10.328a15.506 15.506 0 0 1-.04-.613zM117.411 74.857c-4.252-3.588-8.307-7.334-11.881-10.802-.048.153-.1.304-.152.454 3.633 3.518 7.753 7.316 12.066 10.941-.013-.196-.027-.393-.033-.593zM117.899 80.448c-4.426-3.78-8.621-7.702-12.247-11.261-.014.186-.032.369-.053.553 3.648 3.572 7.852 7.492 12.283 11.264.004-.187.01-.371.017-.556z"/><path fill="#8DC63F" d="M116.567 63.417a278.874 278.874 0 0 1-12.026 11.632c.026.172.048.346.068.521 4.58-4.145 8.746-8.246 12.082-11.66a12.68 12.68 0 0 1-.124-.493zM104.541 79.973c0 .162-.005.321-.01.48 4.705-3.917 9.031-7.844 12.558-11.176-.01-.192-.015-.385-.018-.579-3.5 3.315-7.82 7.249-12.531 11.185l.001.09zM103.401 86.244c-.063.242-.134.48-.209.715 5.31-4.195 10.237-8.503 14.218-12.145-.007-.174-.013-.35-.013-.525l.002-.051c-3.904 3.58-8.753 7.838-13.998 12.006z"/><path fill="#8DC63F" d="M118.438 86.959c0-.113.006-.225.008-.336a286.447 286.447 0 0 1-13.657-12.334c-.029.17-.062.338-.098.506 3.522 3.383 8.337 7.837 13.753 12.391-.002-.077-.006-.151-.006-.227z"/><path fill="#8DC63F" d="M103.583 91.753c5.354-3.874 10.339-7.862 14.396-11.259a12.585 12.585 0 0 1-.051-.521c-4.025 3.375-8.988 7.356-14.332 11.236-.001.182-.005.363-.013.544z"/><path fill="#8DC63F" d="M118.757 91.533c-5.381-3.917-10.295-7.854-14.143-11.062-.019.17-.04.34-.063.508 3.891 3.24 8.839 7.193 14.242 11.113a20.436 20.436 0 0 1-.036-.559zM120.021 96.967c-6.254-3.969-11.982-8.041-16.311-11.256-.034.154-.071.307-.109.457 4.363 3.236 10.117 7.321 16.389 11.291.008-.164.019-.328.031-.492zM120.033 100.881c-6.636-3.904-12.613-7.863-16.876-10.807-.037.15-.077.297-.119.443 4.306 2.969 10.322 6.946 16.984 10.857 0-.165.004-.329.011-.493z"/><path fill="#8DC63F" d="M102.339 96.631c6.139-3.666 11.776-7.428 16.1-10.442-.021-.162-.037-.325-.054-.489-4.297 3.002-9.931 6.768-16.078 10.445.015.161.024.324.032.486zM101.56 102.136c6.397-3.678 12.408-7.599 17.179-10.872a14.888 14.888 0 0 1-.104-.451c-4.719 3.24-10.675 7.133-17.024 10.795-.014.177-.031.353-.051.528z"/><path fill="#8DC63F" d="M121.375 107.722c-7.424-4.265-14.187-8.726-18.883-11.966-.041.146-.082.293-.127.438 4.756 3.277 11.585 7.775 19.063 12.058-.02-.177-.038-.354-.053-.53z"/><path fill="#8DC63F" d="M100.36 108.251l-.002.094c7.332-4.218 14.155-8.751 19.18-12.259a16.954 16.954 0 0 1-.082-.469c-4.982 3.482-11.783 8.01-19.104 12.232.003.134.008.267.008.402z"/><path fill="#8DC63F" d="M122.776 113.899c-8.57-4.879-16.321-10.08-21.137-13.448-.007.17-.019.338-.032.504 4.895 3.418 12.68 8.627 21.257 13.491a12.506 12.506 0 0 1-.088-.547zM123.308 118.56c-8.97-4.101-17.153-8.593-22.248-11.521.008.169.011.337.013.505 5.179 2.971 13.395 7.467 22.369 11.554a14.568 14.568 0 0 1-.134-.538z"/><path fill="#8DC63F" d="M99.346 113.801c8.137-4.304 15.627-8.953 20.725-12.271a11.86 11.86 0 0 1-.026-.498c-5.038 3.285-12.5 7.93-20.633 12.248-.02.174-.042.347-.066.521z"/><path fill="#8DC63F" d="M99.615 113.192c6.18 3.211 15.784 7.925 25.835 11.789a23.547 23.547 0 0 1-.096-.502c-10.03-3.873-19.589-8.573-25.702-11.754-.01.158-.023.314-.037.467z"/><path fill="#8DC63F" d="M98.207 119.021c9.493-4.229 18.043-8.854 22.92-11.604-.021-.154-.035-.311-.051-.467-4.802 2.712-13.325 7.332-22.818 11.577a27.55 27.55 0 0 1-.051.494zM96.963 124.688c10.35-4.162 20.001-9.068 25.638-12.078-.033-.146-.062-.293-.093-.441-5.567 2.977-15.16 7.861-25.473 12.025a8.649 8.649 0 0 1-.072.494zM105.433 144.802a504.22 504.22 0 0 1-11.315-7.354c-.046.142-.093.284-.143.425a496.253 496.253 0 0 0 11.304 7.344c.049-.141.101-.279.154-.415zM107.346 138.293c-4.038-2.178-8.175-4.558-12.187-6.955-.043.144-.086.283-.133.425a326.003 326.003 0 0 0 12.209 6.963c.037-.146.071-.289.111-.433z"/><path fill="#8DC63F" d="M126.927 131.554H95.481l-2.442-1.357v-6.086h35.769v6.182l-1.881 1.261zm-31.334-.433h31.203l1.579-1.062v-5.52H93.471v5.4l2.122 1.182z"/><path fill="#8DC63F" d="M93.255 129.853h35.335v.434H93.255z"/><path fill="#8DC63F" d="M98.019 124.541h.432v5.526h-.432zM101.659 124.325h.432v5.742h-.432zM106.081 124.541h.432v5.526h-.432zM115.515 124.541h.434v5.526h-.434zM119.856 124.541h.432v5.526h-.432zM123.228 124.181h.432v5.889h-.432zM114.315 139.104a267.178 267.178 0 0 0 12.084-6.978 26.04 26.04 0 0 1-.137-.422 272.193 272.193 0 0 1-12.054 6.965c.038.144.072.29.107.435zM116.381 145.101a276.513 276.513 0 0 0 12.239-7.168 13.09 13.09 0 0 1-.139-.423 273.626 273.626 0 0 1-12.213 7.158c.04.144.079.287.113.433zM130.062 180.44a273.219 273.219 0 0 0 11.715-8.684c-.074-.125-.147-.25-.219-.377a272.262 272.262 0 0 1-11.724 8.689c.078.124.153.247.228.372zM133.132 186.97a282.614 282.614 0 0 0 12.137-7.343 14.06 14.06 0 0 1-.215-.377 280.103 280.103 0 0 1-12.082 7.313c.054.134.108.27.16.407zM136.75 193.474a275.233 275.233 0 0 0 12.379-7.289 29.874 29.874 0 0 1-.226-.369 271.7 271.7 0 0 1-12.362 7.278c.071.125.142.253.209.38zM142.067 200.666a283.464 283.464 0 0 0 11.645-7.625c-.08-.119-.16-.238-.236-.36a283.87 283.87 0 0 1-11.632 7.616c.076.121.151.245.223.369zM80.8 171.603c-.049.145-.102.287-.154.431a112.758 112.758 0 0 0 11.018 7.771c.04-.145.08-.289.123-.432a112.775 112.775 0 0 1-10.987-7.77zM76.701 178.522c-.054.142-.109.277-.167.414 3.325 2.49 7.584 5.402 12.375 8.027.028-.148.058-.297.09-.443-4.768-2.621-9.002-5.524-12.298-7.998z"/><path fill="#8DC63F" d="M72.802 186.222c-.083.18-.17.354-.26.524 4.873-1.397 11.818-3.742 18.663-7.263.047-.189.098-.379.15-.563-6.751 3.515-13.64 5.873-18.553 7.302z"/><path fill="#8DC63F" d="M73.191 185.64a9.792 9.792 0 0 1-.212.379c3.1 2.119 7.071 4.614 11.551 6.916.039-.144.077-.285.119-.425-4.445-2.288-8.384-4.768-11.458-6.87z"/><path fill="#8DC63F" d="M68.581 192.424c-.085.173-.173.343-.264.507 4.155-.99 12.24-3.209 20.496-7.089.049-.186.101-.368.155-.55-8.103 3.854-16.097 6.092-20.387 7.132z"/><path fill="#8DC63F" d="M68.769 192.545a14.85 14.85 0 0 1-.188.399c2.897 2.255 6.754 5.033 11.196 7.681.081-.12.163-.239.247-.354-4.476-2.667-8.356-5.465-11.255-7.726z"/><path fill="#8DC63F" d="M63.966 199.554c-.002.149-.004.301-.01.448 4.805-1.231 12.737-3.617 20.579-7.528.116-.229.235-.451.361-.666-7.924 4.028-16.021 6.481-20.93 7.746zM153.741 193.222c-12.258-3.084-22.094-8.343-22.208-8.404l-.206.381c.117.062 10.201 5.457 22.695 8.542-.097-.172-.19-.344-.281-.519zM149.282 186.849c-10.848-3.097-19.149-7.521-19.256-7.576l-.205.381c.107.058 8.636 4.602 19.715 7.716a24.918 24.918 0 0 1-.254-.521zM144.985 179.573c-10.447-3.307-18.321-7.715-18.424-7.771l-.213.377c.104.057 8.183 4.584 18.85 7.914-.073-.17-.144-.344-.213-.52zM136.164 192.032c.108.203.214.412.313.626 4.299 2.012 12.553 5.505 21.844 7.528.232-.104.467-.205.699-.293-9.874-2.071-18.655-5.867-22.856-7.861zM114.388 138.351a311.153 311.153 0 0 0 15.57 6.676c.109-.131.223-.262.337-.392a307.895 307.895 0 0 1-15.565-6.663c-.114.127-.226.254-.342.379zM116.446 144.729a322.623 322.623 0 0 0 15.82 7.627c.119-.131.242-.26.366-.39a319.141 319.141 0 0 1-15.815-7.614c-.123.127-.244.252-.371.377zM112.235 132.017a309.232 309.232 0 0 0 15.727 6.301c.105-.135.217-.268.328-.398a307.175 307.175 0 0 1-15.721-6.289c-.111.127-.22.257-.334.386zM94.029 138.044a273.041 273.041 0 0 0 14.212-5.626 14.566 14.566 0 0 1-.016-.467 272.967 272.967 0 0 1-14.201 5.631c.004.153.006.308.005.462zM91.865 145.631a294.305 294.305 0 0 0 14.882-7.217c-.023-.164-.045-.33-.063-.496a297.007 297.007 0 0 1-14.87 7.222c.019.163.036.325.051.491zM89.326 152.367a310.765 310.765 0 0 0 15.587-7.886 14.705 14.705 0 0 1-.084-.518 313.576 313.576 0 0 1-15.574 7.891c.026.17.05.342.071.513z"/><path fill="#8DC63F" d="M139.181 156.89h-56.3v-5.14h56.3v5.14zm-55.867-.433h55.435v-4.274H83.314v4.274z"/><path fill="#8DC63F" d="M94.811 151.966h.432v4.786h-.432zM105.682 151.966h.432v4.708h-.432zM116.38 151.966h.432v4.708h-.432zM126.79 151.733h.434v4.939h-.434zM95.537 130.474h30.726v1.729H95.537zM122.981 117.862c-3.797 2.068-7.866 4.175-12.029 6.146-.019.184-.04.367-.062.549 4.212-1.986 8.332-4.115 12.175-6.207-.031-.162-.06-.324-.084-.488zM98.401 118.304c3.87 2.106 8.022 4.252 12.267 6.256a24.314 24.314 0 0 1-.063-.55c-4.18-1.979-8.265-4.096-12.074-6.172-.04.156-.084.309-.13.466zM107.346 137.438h6.44v.863h-6.44zM106.747 141.065h9.263v.863h-9.263zM84.649 164.539h53.386v.433H84.649zM82.767 167.998h56.912v.433H82.767zM80.646 171.601h61.05v.864h-61.05z"/><path fill="#8DC63F" d="M84.913 164.756h.432v7.276h-.432zM87.506 164.756h.433v7.276h-.433zM90.964 164.756h.433v7.276h-.433zM94.422 164.756h.432v7.276h-.432zM97.88 164.756h.432v7.276h-.432zM101.77 164.756h.433v7.276h-.433zM105.228 164.756h.433v7.276h-.433zM108.686 164.756h.433v7.276h-.433zM112.577 164.756h.432v7.276h-.432zM116.034 164.756h.432v7.276h-.432zM119.492 164.756h.432v7.276h-.432zM123.382 164.756h.432v7.276h-.432zM126.408 164.756h.433v7.276h-.433zM129.866 164.756h.433v7.276h-.433zM133.324 164.756h.433v7.276h-.433zM136.349 164.756h.434v7.276h-.434zM137.84 199.858c-.093-.194-9.483-19.549-26.854-19.549-17.369 0-26.435 19.353-26.524 19.547l-.394-.181c.091-.198 9.27-19.798 26.917-19.798 17.646 0 27.151 19.598 27.245 19.795l-.39.186z"/><path fill="#8DC63F" d="M86.383 190.495l-.335-.273c.11-.134 11.131-13.406 25.003-13.406 13.875 0 24.431 13.276 24.536 13.41l-.34.268c-.104-.133-10.534-13.246-24.196-13.246-13.669-.002-24.559 13.114-24.668 13.247z"/><path fill="#8DC63F" d="M92.093 179.886l-.267-.341c.092-.071 9.312-7.228 19.225-7.228 9.915 0 18.817 7.096 18.906 7.166l-.271.336c-.088-.069-8.875-7.067-18.635-7.067-9.761 0-18.867 7.061-18.958 7.134z"/><path fill="#8DC63F" d="M94.649 182.83l-2.689-3.59-.346.26 2.671 3.563c.116-.084.237-.162.364-.233zM127.412 182.901l2.578-2.682-.312-.299-2.662 2.77c.137.064.27.132.396.211zM104.223 173.388l1.086 4.383c.139-.033.281-.06.426-.078l-1.098-4.43c-.135.049-.273.09-.414.125zM117.515 173.479l-1.09 4.244c.145.025.283.06.422.101l1.078-4.204a3.665 3.665 0 0 1-.41-.141zM124.082 175.819l-2.218 3.729c.135.057.264.12.39.189l2.242-3.771a3.627 3.627 0 0 1-.414-.147zM97.726 175.879l2.259 3.922c.127-.067.258-.131.393-.184l-2.236-3.886a3.807 3.807 0 0 1-.416.148zM136.974 162.457H84.896v-5.755h52.078v5.755zm-51.214-.865h50.351v-4.024H85.76v4.024zM111 123.048a.865.865 0 0 0-1.027.663c-2.312 10.679-4.966 20.146-7.724 28.455h1.818c2.714-8.238 5.32-17.586 7.595-28.09a.861.861 0 0 0-.662-1.028z"/><path fill="#8DC63F" d="M94.632 172.032c-7.9 17.904-14.886 26.603-15.364 27.187a.862.862 0 1 0 .668 1.412.867.867 0 0 0 .67-.315c.492-.603 7.772-9.66 15.907-28.282l-1.881-.002zM142.362 199.215c-.133-.164-5.006-6.192-11.17-18.394a183.11 183.11 0 0 1-4.146-8.789h-1.888a188.7 188.7 0 0 0 4.55 9.687c3.279 6.479 6.175 11.179 8.025 13.98 3.259 4.932 3.584 4.932 3.963 4.932a.863.863 0 0 0 .666-1.416zM119.414 152.166c-2.75-8.254-5.433-17.74-7.753-28.455a.864.864 0 1 0-1.689.365c2.283 10.545 4.917 19.907 7.623 28.09h1.819z"/><path fill="#8DC63F" d="M94.693 172.032c-6.367 3.361-12.792 5.689-17.455 7.145-.092.184-.187.364-.286.54 4.883-1.502 11.838-4 18.652-7.685h-.911z"/><g><path fill="#8DC63F" d="M102.718 152.166a423.1 423.1 0 0 1-11.486-8.086c-.05.144-.102.28-.157.422a421.652 421.652 0 0 0 10.873 7.664h.77z"/></g><g><path fill="#8DC63F" d="M119.47 152.166a270.967 270.967 0 0 0 11.305-7.865 9.312 9.312 0 0 1-.11-.452 272.796 272.796 0 0 1-11.791 8.194c.012.041.022.082.035.123h.561z"/></g></g></g><circle id="ring" fill="none" stroke="#8DC63F" stroke-width="3" stroke-miterlimit="10" cx="111.126" cy="111.126" r="109.626"/><clipPath id="mask"><circle fill="none" cx="111.126" cy="111.126" r="107.981"/></clipPath></svg><!--{{{}}}-->
</div>
<h2>
Travel Medicine
</h2>
<p>
We provide travel medicine services, including vaccination for yellow fever, typhoid, hepatitis A, malaria prophylaxis and other international pre and post travel medical needs.
</p>
</section>
<section id="pcs">
<div class=h2svg>
<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" width="222.252" height="222.252" viewBox="-280 -193 222.252 222.252"><g id="clock" fill="none" stroke="#8BC53F" stroke-miterlimit="10"><circle id="face" stroke-width="3" cx="-128.54" cy="-145.643" r="30.375"/><path id="dial" stroke-width="2" d="M-128.375-173.374v4m-14.086-.383l1.896 3.289m-12.089 6.904l3.288 1.898m-7.009 12.292h4m-.279 13.653l3.286-1.898m6.905 12.091l1.898-3.288m12.19 7.442v-4m13.755-.154l-1.897-3.288m12.091-6.904l-3.289-1.897m7.34-11.757h-4m-.051-14.189l-3.287 1.898m-6.905-12.092l-1.897 3.288"/><path id="mn" stroke-width="3" d="M-128.875-143.374v-21"/><path id="hr" stroke-width="3" d="M-128.875-143.374v-16"/></g><g id="doctor" stroke="#8BC53F" stroke-miterlimit="10"><path fill="#8BC53F" d="M-125.259-31.435s16.147-113.272-45.727-113.272c-33.467 0-39.375 25.875-39.375 39.375s12.216 73.897 85.102 73.897z"/><path fill="#FFF" d="M-128.875 18.626v-64.374c0-4.364-4.694-6.262-4.694-6.262-16.645-6.959-55.618-6.775-72.932 0 0 0-4.374 1.551-4.374 6.262v64.374"/><g fill="#FFF" stroke-width=".5"><path d="M-192.413-46.174s4.068-14.146 23.414-14.146c37.125 0 24.11 65.461 24.11 65.461l-1.334-.397s12.855-63.938-22.776-63.938c-17.655 0-21.397 12.994-21.397 12.994"/><path d="M-191.284-45.37c9.483 17.488 2.644 32.684-3.701 41.398.202.408.404.806.606 1.19 6.946-9.45 14.398-25.622 4.002-43.538m-5.408 43.419c-3.289 4.289-6.184 6.741-6.184 6.741.859-1.034-1.443-2.475-1.443-2.475-1.834-1.529-3.432-.472-4.136.377-.704.846-1.659 1.801.879 3.916 2.537 2.112 4.292.39 4.292.39s3.417-2.855 7.2-7.767c-.207-.391-.41-.786-.608-1.182z"/><path d="M-191.63-45.371c-19.273 24.529 2.246 50.343 2.246 50.343-.674-1.166 1.839-2.197 1.839-2.197 2.066-1.197 3.463.113 4.014 1.065.554.955 1.332 2.058-1.525 3.716-2.857 1.653-4.297-.34-4.297-.34s-24.097-28.271-3.029-53.542"/><circle cx="-145.479" cy="4.745" r="6.852"/><circle cx="-145.48" cy="4.745" r="3.134"/></g><path fill="#FFF" d="M-161.844-74.874l-15.031-.225v34.994s1.154 3.582 7.266 3.582c6.113 0 7.734-3.582 7.734-3.582v-34.77h.031z"/><path fill="#FFF" d="M-169.864-127.542s-2.231 13.944-24.914 13.944c0 0-7.623-5.392-7.623 4.276 0 7.065 5.949 4.091 5.949 4.091s7.308 42.561 26.96 42.561c19.151 0 26.959-42.561 26.959-42.561s5.393 1.674 5.393-4.091c0-9.292-7.993-4.276-7.993-4.276s-24.731 0-24.731-13.944zm-7.011 67.859v78s-9.74-23.465-9.74-32.59 7.207-15.102 7.207-15.102-4.278-2.5-4.278-14.014c-.002-14.01 6.811-16.294 6.811-16.294zm15 0v78s9.88-23.465 9.88-32.59-7.134-15.102-7.134-15.102 4.17-2.5 4.17-14.014c0-16.26-6.916-16.294-6.916-16.294z"/><circle fill="none" stroke-width="3" cx="-168.874" cy="-81.874" r="109.626"/></g></svg><!--{{{}}}-->
</div>
<h2>
Primary Care Services
</h2>
<p>
Receive the medical attention you deserve with visits with an unhurried, personable family physician. With 24 hour access to your family doctor, your medical needs and questions will be answered promptly by telephone. See the doctor when you need to with same or next day appointments.
</p>
</section>
</main>
<aside>
Office Hours:
<ul>
<li>Monday    9am - 5pm</li>
<li>Tuesday   9am - 5pm</li>
<li>Wednesday 9am - 5pm</li>
<li>Thursday  9am - 5pm</li>
<li>Friday    9am - 5pm</li>
</ul>
</aside>
<footer>
For all your medical needs call 954-659-2102   
Fax 954 659 0293 
DrRuthman@ruthmanmedical.com
Like us on Facebook
<a href="https://www.facebook.com/Ruthman-Medical-Group-148543091856317" target="blank">    
<svg xmlns="http://www.w3.org/2000/svg" width="20.637" height="35.043" viewBox="0 0 20.637 35.043"><path fill="none" stroke="#58595B" stroke-miterlimit="10" d="M13.551 34.521H6.252V19.194H.521v-6.146h5.731V8.337c0-2.556 1.511-9.62 13.863-7.385v5.27c-5.954 0-6.753.52-6.753 2.314l-.044 4.512h6.579l-.853 6.146h-5.492v15.327z" id="Original"/></svg><!--{{{}}}-->
</a>
review us on Google
<a href="https://search.google.com/local/writereview?placeid=ChIJiYYXyrGg2YgReHGV-Ztadzk" target="blank">
<svg xmlns="http://www.w3.org/2000/svg" width="27.267" height="35.421" viewBox="0 0 27.267 35.421"><g fill="none" stroke="#58595B" stroke-miterlimit="10" id="Original"><path d="M.5 34.921a6.729 6.729 0 0 1 6.73-6.729 6.73 6.73 0 0 1 6.731 6.729H.5zM8.513 19.353c-.4-.147-.83-.231-1.282-.231a3.732 3.732 0 0 0 0 7.464 3.73 3.73 0 0 0 3.729-3.656c-.834-1.385-1.679-2.508-2.447-3.577z"/><path d="M17.009 13.595a2.903 2.903 0 1 1-.001-5.805 2.903 2.903 0 0 1 .001 5.805zm9.758-2.903C26.767 5.124 22.638.5 17.01.5c-5.63 0-9.78 4.563-9.78 10.192 0 9.455 6.835 8.366 9.373 23.606 0 0 .396 1.4.851 0 2.468-15.239 9.313-14.151 9.313-23.606z"/></g></svg><!--{{{}}}-->
</a>
</footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
<script src="res/animate.js"/></script>
</body>
