<svg version="1.1" id="clock" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="302.684px" height="302.684px" viewBox="0 0 302.684 302.684" enable-background="new 0 0 302.684 302.684" xml:space="preserve">
<g id="clock">
<circle fill="#FFFFFF" stroke="#231F20" stroke-miterlimit="10" cx="151.342" cy="151.342" r="150.842"/>
<line id="hand" fill="none" stroke="#231F20" stroke-miterlimit="10" x1="151.342" y1="151.342" x2="151.342" y2="51.062"/>
</g>
</svg>

